body {
    width: 250px;
    height: 250px;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    color: black;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
}